<div style="position: relative;">
	<div class="country-list">
		<form action="">
			<p>To view organizations for a specific country, select from the following list.</p>
			<select name="country">
			
				<option value="afghanistan">Afghanistan</option>
			
				<option value="albania">Albania</option>
			
				<option value="argentina">Argentina</option>
			
				<option value="australia">Australia</option>
			
				<option value="azerbaijan">Azerbaijan</option>
			
				<option value="bangladesh">Bangladesh</option>
			
				<option value="belgium">Belgium</option>
			
				<option value="bolivia">Bolivia</option>
			
				<option value="bosnia-and-herzegovina">Bosnia and Herzegovina</option>
			
				<option value="brazil">Brazil</option>
			
				<option value="bulgaria">Bulgaria</option>
			
				<option value="cambodia">Cambodia</option>
			
				<option value="canada">Canada</option>
			
				<option value="chile">Chile</option>
			
				<option value="colombia">Colombia</option>
			
				<option value="croatia">Croatia</option>
			
				<option value="czech-republic">Czech Republic</option>
			
				<option value="democratic-republic-of-the-congo">Democratic Republic of the Congo</option>
			
				<option value="denmark">Denmark</option>
			
				<option value="ecuador">Ecuador</option>
			
				<option value="europe">Europe</option>
			
				<option value="european-union">European Union</option>
			
				<option value="finland">Finland</option>
			
				<option value="france">France</option>
			
				<option value="georgia">Georgia</option>
			
				<option value="germany">Germany</option>
			
				<option value="ghana">Ghana</option>
			
				<option value="guatemala">Guatemala</option>
			
				<option value="hong-kong">Hong Kong</option>
			
				<option value="hungary">Hungary</option>
			
				<option value="india">India</option>
			
				<option value="indonesia">Indonesia</option>
			
				<option value="iraq">Iraq</option>
			
				<option value="ireland">Ireland</option>
			
				<option value="israel">Israel</option>
			
				<option value="italy">Italy</option>
			
				<option value="jordan">Jordan</option>
			
				<option value="kenya">Kenya</option>
			
				<option value="kosovo">Kosovo</option>
			
				<option value="kuwait">Kuwait</option>
			
				<option value="kyrgyzstan">Kyrgyzstan</option>
			
				<option value="latin-america">Latin America</option>
			
				<option value="lebanon">Lebanon</option>
			
				<option value="liberia">Liberia</option>
			
				<option value="lithuania">Lithuania</option>
			
				<option value="luxembourg">Luxembourg</option>
			
				<option value="macedonia">Macedonia</option>
			
				<option value="malawi">Malawi</option>
			
				<option value="malaysia">Malaysia</option>
			
				<option value="mexico">Mexico</option>
			
				<option value="montenegro">Montenegro</option>
			
				<option value="netherlands">Netherlands</option>
			
				<option value="norway">Norway</option>
			
				<option value="pakistan">Pakistan</option>
			
				<option value="paraguay">Paraguay</option>
			
				<option value="peru">Peru</option>
			
				<option value="poland">Poland</option>
			
				<option value="portugal">Portugal</option>
			
				<option value="romania">Romania</option>
			
				<option value="russia">Russia</option>
			
				<option value="serbia">Serbia</option>
			
				<option value="slovakia">Slovakia</option>
			
				<option value="south-africa">South Africa</option>
			
				<option value="spain">Spain</option>
			
				<option value="taiwan">Taiwan</option>
			
				<option value="tunisia">Tunisia</option>
			
				<option value="uganda">Uganda</option>
			
				<option value="ukraine">Ukraine</option>
			
				<option value="united-kingdom">United Kingdom</option>
			
				<option value="united-states">United States</option>
			
				<option value="uruguay">Uruguay</option>
			
				<option value="venezuela">Venezuela</option>
			
				<option value="yemen">Yemen</option>
			
				<option value="zimbabwe">Zimbabwe</option>
			
			</select>
		</form>
	</div>
</div>


	<p id="afghanistan" class="location">Afghanistan</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/fefa.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://fefa.org.af" class="org">Free and Fair Elections Foundation, Afghanistan</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="albania" class="location">Albania</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cps.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.ascpdp.org" class="org">Centre for Parliamentary Studies/Qendra e Studimeve Parlamentare</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="argentina" class="location">Argentina</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/adc.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.adc.org.ar/" class="org">Asociación por los Derechos Civiles (ADC)</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cippec.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.cippec.org" class="org">Centro de Implementación de Políticas Públicas para la Equidad y el Crecimiento (CIPPEC)</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/fdl.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.directoriolegislativo.org" class="org">Fundación Directorio Legislativo</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/poder.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.poderciudadano.org.ar" class="org">Poder Ciudadano</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="australia" class="location">Australia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/oaf.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.openaustraliafoundation.org.au/" class="org">OpenAustralia Foundation</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="azerbaijan" class="location">Azerbaijan</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/smdt.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.smdt.az/en/" class="org">Election Monitoring and Democracy Studies Center (EMDS)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="bangladesh" class="location">Bangladesh</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/tibangladesh.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://ti-bangladesh.org/" class="org">Transparency International Bangladesh</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="belgium" class="location">Belgium</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/gov2u.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.gov2u.org" class="org">Gov2u</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="bolivia" class="location">Bolivia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/bt.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.boliviatransparente.org" class="org">Bolivia Transparente</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="bosnia-and-herzegovina" class="location">Bosnia and Herzegovina</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cci.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.ccibh.org" class="org">Center for Civic Initiatives (CCI)</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cpi.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.cpi.ba" class="org">Public Interest Advocacy Center</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/zastone.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.zastone.ba/" class="org">Zašto ne (Why Not)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="brazil" class="location">Brazil</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/vc.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.votoconsciente.org.br" class="org">Movimento Voto Consciente</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/thb.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.thacker.com.br" class="org">Transparência Hacker</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="bulgaria" class="location">Bulgaria</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/bapci.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.bapci.org" class="org">Bulgarian Association for the Promotion of Citizens&#39; Initiative</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="cambodia" class="location">Cambodia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/comfrel.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.comfrel.org/eng" class="org">Committee for Free and Fair Elections in Cambodia (COMFREL)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="canada" class="location">Canada</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/citizenbridge.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.citizenbridge.org" class="org">CitizenBridge</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/openparliament.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.openparliament.ca" class="org">Open Parliament</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="chile" class="location">Chile</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ctti.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.chiletransparente.cl" class="org">Chile Transparente</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/participa.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.participa.cl" class="org">Corporación Participa</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ci.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.ciudadanointeligente.org" class="org">Fundaciión Ciudadano Inteligente</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="colombia" class="location">Colombia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cv.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.congresovisible.org" class="org">Congreso Visible</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/tc.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparenciacolombia.org.co" class="org">Corporación Transparencia por Colombia</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/icp.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.icpcolombia.org" class="org">Instituto de Ciencia Política</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="croatia" class="location">Croatia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/gong.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.gong.hr" class="org">GONG</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="czech-republic" class="location">Czech Republic</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/kohovolit.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://cs.kohovolit.eu" class="org">KohoVolit.eu (Czechia)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="democratic-republic-of-the-congo" class="location">Democratic Republic of the Congo</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cenadep.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.gouvernancepourtous.cd/" class="org">Centre National d’Appui au Développement et à la Participation Populaire (CENADEP)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="denmark" class="location">Denmark</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/hsh.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.hvemstemmerhvad.dk" class="org">Hvem Stemmer Hvad</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="ecuador" class="location">Ecuador</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/fcd.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.observatoriolegislativo.ec" class="org">Observatorio Legislativo</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="europe" class="location">Europe</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/accessinfo.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.access-info.org/" class="org">Access Info Europe</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="european-union" class="location">European Union</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/buhlrasmussen.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.itsyourparliament.eu" class="org">Buhl &amp; Rasmussen/It&#39;s Your Parliament</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="finland" class="location">Finland</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/kansanmuisti.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.kansanmuisti.fi/" class="org">Kansan muisti ry</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/louhos.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://louhos.github.com/en/" class="org">Louhos Open Data Analytics</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="france" class="location">France</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/clubjade.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.club-jade.fr" class="org">Club JADE</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/regardscitoyens.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.regardscitoyens.org" class="org">Regards Citoyens</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/tifrance.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparence-france.org/" class="org">Transparence International France</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="georgia" class="location">Georgia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/tigeorgia.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://transparency.ge/en" class="org">Transparency International Georgia</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="germany" class="location">Germany</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/okf.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://okfn.de/" class="org">Open Knowledge Foundation Deutschland (OKF DE)</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/parliamentwatch.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.abgeordnetenwatch.de" class="org">Parliament Watch</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="ghana" class="location">Ghana</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cdd.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.cddghana.org" class="org">Ghana Center for Democratic Development (CDD Ghana)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="guatemala" class="location">Guatemala</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/accion.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.accionciudadana.org.gt" class="org">Acción Ciudadana</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="hong-kong" class="location">Hong Kong</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/synergynet.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.synergynet.org.hk" class="org">SynergyNet</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="hungary" class="location">Hungary</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/kmonitor.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.kmonitor.hu" class="org">K-Monitor Watchdog for Public Funds</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="india" class="location">India</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/clra.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.clraindia.org" class="org">Centre for Legislative Research and Advocacy</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/prs.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.prsindia.org/" class="org">PRS Legislative Research</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="indonesia" class="location">Indonesia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ipc.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://pusatparlemenindonesia.blogspot.com/2010/05/profil-indonesian-parliamentary-center.html" class="org">Indonesian Parliamentary Center</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="iraq" class="location">Iraq</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ipm.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.miqpm.org/" class="org">Iraqi Parliament Monitor</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="ireland" class="location">Ireland</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/kildare.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.kildarestreet.com" class="org">KildareStreet.com</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="israel" class="location">Israel</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/hasadna.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.hasadna.org.il/en/" class="org">Hasadna (The Public Knowledge Workshop)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="italy" class="location">Italy</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/openpolis.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.openpolis.it" class="org">Openpolis</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="jordan" class="location">Jordan</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/alquds.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.alqudscenter.org/english" class="org">Al-Quds Center for Political Studies</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/jpm.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.jpm.jo" class="org">Jordanian Parliament Monitor</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="kenya" class="location">Kenya</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/infonet.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.infonet.or.ke" class="org">InfoNET</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/muhuri.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.muhuri.org" class="org">Muslims for Human Rights (MUHURI)</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/sodnet.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.sodnet.org" class="org">Social Development Network (SODNET)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="kosovo" class="location">Kosovo</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/kdi.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.kdi-kosova.org/en/" class="org">Kosovo Democratic Institute (KDI)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="kuwait" class="location">Kuwait</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/kts.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparency-kuwait.org/" class="org">Kuwait Transparency Society</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="kyrgyzstan" class="location">Kyrgyzstan</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cac.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.anticorruption.kg" class="org">Citizens Against Corruption</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cdcs.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.dialog.kg/en" class="org">Coalition for Democracy and Civil Society</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/elpikir.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.elpikir.org" class="org">EL-PIKIR Centre of Public Opinion Study and Forecasting</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/outcome.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.result.kg" class="org">Результат (Outcome)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="latin-america" class="location">Latin America</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/lalt.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparencialegislativa.org" class="org">Latin American Network for Legislative Transparency (LALT Network)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="lebanon" class="location">Lebanon</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/lebanesemonitor.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.lpmonitor.org" class="org">Lebanese Parliamentary Monitor</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/nahwaalmuwatiniya.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.na-am.org/a" class="org">Nahwa Al-Muwatiniya</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="liberia" class="location">Liberia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/devein.png" class="logo">
	            
	            <p>
	                
	                    <span class="org">Development and Education Initiatives (DEVEIN)</span>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ldw.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.liberiademocracywatch.org" class="org">Liberia Democracy Watch</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/naymote.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.naymote.com" class="org">NAYMOTE Partners for Democratic Development</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="lithuania" class="location">Lithuania</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/tilithuania.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparency.lt" class="org">Transparency International Lithuania</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="luxembourg" class="location">Luxembourg</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/politikercheck.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.politikercheck.lu/" class="org">Politkercheck.lu</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="macedonia" class="location">Macedonia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/most.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.most.org.mk/index.php/en/home-new" class="org">Citizen&#39;s Association MOST</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ipd.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.ipd.org.mk" class="org">Institute for Parliamentary Democracy (IPD)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="malawi" class="location">Malawi</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ccjp.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.ccjp-lilongwe.org/" class="org">Catholic Commission for Justice and Peace</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="malaysia" class="location">Malaysia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/sinar.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.sinarproject.org" class="org">Sinar Project</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="mexico" class="location">Mexico</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/fundar.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.fundar.org.mx" class="org">FUNDAR Centro de Análisis e Investigación</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ilf.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.impactolegislativo.org.mx" class="org">Impacto Legislativo Fundación</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/vl.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.visionlegislativa.com" class="org">Visión Legislativa</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="montenegro" class="location">Montenegro</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/cdt.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.cdtmn.org" class="org">Centar za Demokratsku Tranziciju (CDT)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="netherlands" class="location">Netherlands</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/openstate.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.openstate.eu" class="org">Open State Foundation</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="norway" class="location">Norway</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/hdo.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.holderdeord.no" class="org">Holder de ord</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="pakistan" class="location">Pakistan</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/pildat.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.pildat.org" class="org">Pakistan Institute of Legislative Development and Transparency (PILDAT)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="paraguay" class="location">Paraguay</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/semillas.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.semillas.org.py" class="org">Semillas para la Democracia</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="peru" class="location">Peru</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/rd.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.reflexiondemocratica.org.pe" class="org">Reflexión Democrática</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/tp.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparencia.org.pe/www" class="org">Transparencia Peru</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="poland" class="location">Poland</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/epanstwo.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.sejmometr.pl" class="org">Foundation ePaństwo</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/61.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.mamprawowiedziec.pl" class="org">Stowarzyszenie 61 (Association 61)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="portugal" class="location">Portugal</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/transparenciahackday.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparenciahackday.org/" class="org">Transparência Hackday Portugal</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="romania" class="location">Romania</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ipp.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.ipp.ro" class="org">Institute for Public Policy (IPP)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="russia" class="location">Russia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/infoculture.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://infoculture.ru/en/" class="org">Informational Culture</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="serbia" class="location">Serbia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/crta.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.crta.rs/wp/en" class="org">Center for Research Transparency and Accountability</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/otvoreni.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.otvoreniparlament.rs" class="org">Otvoreni Parliament (Open Parliament)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="slovakia" class="location">Slovakia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/kohovolit.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://sk.kohovolit.eu" class="org">KohoVolit.eu (Slovakia)</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/tislovakia.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparency.sk" class="org">Transparency International Slovakia</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="south-africa" class="location">South Africa</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/pmg.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.pmg.org.za" class="org">Parliamentary Monitoring Group</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="spain" class="location">Spain</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/civio.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.civio.es/en/quienes-somos" class="org">Fundación Ciudadana Civio</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/qhld.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.quehacenlosdiputados.net" class="org">Qué hacen los diputados</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="taiwan" class="location">Taiwan</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ccw.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.ccw.org.tw/" class="org">Citizen Congress Watch (CCW)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="tunisia" class="location">Tunisia</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/albawsala.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.albawsala.com/" class="org">Al Bawsala</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="uganda" class="location">Uganda</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ali.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.aflia.org" class="org">Africa Leadership Institute (AFLI)</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="ukraine" class="location">Ukraine</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/chesno.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.chesno.org" class="org">CHESNO</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="united-kingdom" class="location">United Kingdom</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/okf.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.okfn.org" class="org">Open Knowledge Foundation Network (OKFN)</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/mysociety.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.mysociety.org" class="org">mySociety</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="united-states" class="location">United States</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/govtrack.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.govtrack.us" class="org">GovTrack.us</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ppf.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.participatorypolitics.org" class="org">Participatory Politics Foundation</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/sunlight.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://sunlightfoundation.com" class="org">Sunlight Foundation</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="uruguay" class="location">Uruguay</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ldu.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.datauy.org" class="org">DATA</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="venezuela" class="location">Venezuela</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ep.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.entornoparlamentario.com" class="org">Entorno Parlamentario</a>
	                
	            </p>
	        </li>
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/tv.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.transparencia.org.ve" class="org">Transparencia Venezuela</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="yemen" class="location">Yemen</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/ypc.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.yemenpolling.org" class="org">Yemen Polling Center</a>
	                
	            </p>
	        </li>
	    
	</ul>

	<p id="zimbabwe" class="location">Zimbabwe</p>
	<ul class="partners">
	    
	        <li class="clearfix">
	            
	                <img src="/static/images/partners/pmt.png" class="logo">
	            
	            <p>
	                
	                    <a href="http://www.pmtz.org" class="org">Parliamentary Monitoring Trust - Zimbabwe</a>
	                
	            </p>
	        </li>
	    
	</ul>
