<ul class="partners">
    
        <li class="clearfix">
            
                <img src="/static/images/partners/fefa.png" class="logo">
            
            <p>
                <span class="location">Afghanistan</span>
                
                    <a href="http://fefa.org.af" class="org">Free and Fair Elections Foundation, Afghanistan</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/cps.png" class="logo">
            
            <p>
                <span class="location">Albania</span>
                
                    <a href="http://www.ascpdp.org" class="org">Centre for Parliamentary Studies/Qendra e Studimeve Parlamentare</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/adc.png" class="logo">
            
            <p>
                <span class="location">Argentina</span>
                
                    <a href="http://www.adc.org.ar/" class="org">Asociación por los Derechos Civiles (ADC)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/cippec.png" class="logo">
            
            <p>
                <span class="location">Argentina</span>
                
                    <a href="http://www.cippec.org" class="org">Centro de Implementación de Políticas Públicas para la Equidad y el Crecimiento (CIPPEC)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/fdl.png" class="logo">
            
            <p>
                <span class="location">Argentina</span>
                
                    <a href="http://www.directoriolegislativo.org" class="org">Fundación Directorio Legislativo</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/poder.png" class="logo">
            
            <p>
                <span class="location">Argentina</span>
                
                    <a href="http://www.poderciudadano.org.ar" class="org">Poder Ciudadano</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/oaf.png" class="logo">
            
            <p>
                <span class="location">Australia</span>
                
                    <a href="http://www.openaustraliafoundation.org.au/" class="org">OpenAustralia Foundation</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/smdt.png" class="logo">
            
            <p>
                <span class="location">Azerbaijan</span>
                
                    <a href="http://www.smdt.az/en/" class="org">Election Monitoring and Democracy Studies Center (EMDS)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/tibangladesh.png" class="logo">
            
            <p>
                <span class="location">Bangladesh</span>
                
                    <a href="http://ti-bangladesh.org/" class="org">Transparency International Bangladesh</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/gov2u.png" class="logo">
            
            <p>
                <span class="location">Belgium</span>
                
                    <a href="http://www.gov2u.org" class="org">Gov2u</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/bt.png" class="logo">
            
            <p>
                <span class="location">Bolivia</span>
                
                    <a href="http://www.boliviatransparente.org" class="org">Bolivia Transparente</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/cci.png" class="logo">
            
            <p>
                <span class="location">Bosnia and Herzegovina</span>
                
                    <a href="http://www.ccibh.org" class="org">Center for Civic Initiatives (CCI)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/zastone.png" class="logo">
            
            <p>
                <span class="location">Bosnia and Herzegovina</span>
                
                    <a href="http://www.zastone.ba/" class="org">Zašto ne (Why Not)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/thb.png" class="logo">
            
            <p>
                <span class="location">Brazil</span>
                
                    <a href="http://www.thacker.com.br" class="org">Transparência Hacker</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/bapci.png" class="logo">
            
            <p>
                <span class="location">Bulgaria</span>
                
                    <a href="http://www.bapci.org" class="org">Bulgarian Association for the Promotion of Citizens&#39; Initiative</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/comfrel.png" class="logo">
            
            <p>
                <span class="location">Cambodia</span>
                
                    <a href="http://www.comfrel.org/eng" class="org">Committee for Free and Fair Elections in Cambodia (COMFREL)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/openparliament.png" class="logo">
            
            <p>
                <span class="location">Canada</span>
                
                    <a href="http://www.openparliament.ca" class="org">Open Parliament</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ctti.png" class="logo">
            
            <p>
                <span class="location">Chile</span>
                
                    <a href="http://www.chiletransparente.cl" class="org">Chile Transparente</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/participa.png" class="logo">
            
            <p>
                <span class="location">Chile</span>
                
                    <a href="http://www.participa.cl" class="org">Corporación Participa</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ci.png" class="logo">
            
            <p>
                <span class="location">Chile</span>
                
                    <a href="http://www.ciudadanointeligente.org" class="org">Fundaciión Ciudadano Inteligente</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/cv.png" class="logo">
            
            <p>
                <span class="location">Colombia</span>
                
                    <a href="http://www.congresovisible.org" class="org">Congreso Visible</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/tc.png" class="logo">
            
            <p>
                <span class="location">Colombia</span>
                
                    <a href="http://www.transparenciacolombia.org.co" class="org">Corporación Transparencia por Colombia</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/icp.png" class="logo">
            
            <p>
                <span class="location">Colombia</span>
                
                    <a href="http://www.icpcolombia.org" class="org">Instituto de Ciencia Política</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/gong.png" class="logo">
            
            <p>
                <span class="location">Croatia</span>
                
                    <a href="http://www.gong.hr" class="org">GONG</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/kohovolit.png" class="logo">
            
            <p>
                <span class="location">Czech Republic</span>
                
                    <a href="http://cs.kohovolit.eu" class="org">KohoVolit.eu (Czechia)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/cenadep.png" class="logo">
            
            <p>
                <span class="location">Democratic Republic of the Congo</span>
                
                    <a href="http://www.gouvernancepourtous.cd/" class="org">Centre National d’Appui au Développement et à la Participation Populaire (CENADEP)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/hsh.png" class="logo">
            
            <p>
                <span class="location">Denmark</span>
                
                    <a href="http://www.hvemstemmerhvad.dk" class="org">Hvem Stemmer Hvad</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/buhlrasmussen.png" class="logo">
            
            <p>
                <span class="location">European Union</span>
                
                    <a href="http://www.itsyourparliament.eu" class="org">Buhl &amp; Rasmussen/It&#39;s Your Parliament</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/kansanmuisti.png" class="logo">
            
            <p>
                <span class="location">Finland</span>
                
                    <a href="http://www.kansanmuisti.fi/" class="org">Kansan muisti ry</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/louhos.png" class="logo">
            
            <p>
                <span class="location">Finland</span>
                
                    <a href="http://louhos.github.com/en/" class="org">Louhos Open Data Analytics</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/clubjade.png" class="logo">
            
            <p>
                <span class="location">France</span>
                
                    <a href="http://www.club-jade.fr" class="org">Club JADE</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/regardscitoyens.png" class="logo">
            
            <p>
                <span class="location">France</span>
                
                    <a href="http://www.regardscitoyens.org" class="org">Regards Citoyens</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/tifrance.png" class="logo">
            
            <p>
                <span class="location">France</span>
                
                    <a href="http://www.transparence-france.org/" class="org">Transparence International France</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/tigeorgia.png" class="logo">
            
            <p>
                <span class="location">Georgia</span>
                
                    <a href="http://transparency.ge/en" class="org">Transparency International Georgia</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/okf.png" class="logo">
            
            <p>
                <span class="location">Germany</span>
                
                    <a href="http://okfn.de/" class="org">Open Knowledge Foundation Deutschland (OKF DE)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/parliamentwatch.png" class="logo">
            
            <p>
                <span class="location">Germany</span>
                
                    <a href="http://www.abgeordnetenwatch.de" class="org">Parliament Watch</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/cdd.png" class="logo">
            
            <p>
                <span class="location">Ghana</span>
                
                    <a href="http://www.cddghana.org" class="org">Ghana Center for Democratic Development (CDD Ghana)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/accion.png" class="logo">
            
            <p>
                <span class="location">Guatemala</span>
                
                    <a href="http://www.accionciudadana.org.gt" class="org">Acción Ciudadana</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/synergynet.png" class="logo">
            
            <p>
                <span class="location">Hong Kong</span>
                
                    <a href="http://www.synergynet.org.hk" class="org">SynergyNet</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/kmonitor.png" class="logo">
            
            <p>
                <span class="location">Hungary</span>
                
                    <a href="http://www.kmonitor.hu" class="org">K-Monitor Watchdog for Public Funds</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/prs.png" class="logo">
            
            <p>
                <span class="location">India</span>
                
                    <a href="http://www.prsindia.org/" class="org">PRS Legislative Research</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ipc.png" class="logo">
            
            <p>
                <span class="location">Indonesia</span>
                
                    <a href="http://pusatparlemenindonesia.blogspot.com/2010/05/profil-indonesian-parliamentary-center.html" class="org">Indonesian Parliamentary Center</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/hasadna.png" class="logo">
            
            <p>
                <span class="location">Israel</span>
                
                    <a href="http://www.hasadna.org.il/en/" class="org">Hasadna (The Public Knowledge Workshop)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/openpolis.png" class="logo">
            
            <p>
                <span class="location">Italy</span>
                
                    <a href="http://www.openpolis.it" class="org">Openpolis</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/alquds.png" class="logo">
            
            <p>
                <span class="location">Jordan</span>
                
                    <a href="http://www.alqudscenter.org/english" class="org">Al-Quds Center for Political Studies</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/jpm.png" class="logo">
            
            <p>
                <span class="location">Jordan</span>
                
                    <a href="http://www.jpm.jo" class="org">Jordanian Parliament Monitor</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/infonet.png" class="logo">
            
            <p>
                <span class="location">Kenya</span>
                
                    <a href="http://www.infonet.or.ke" class="org">InfoNET</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/muhuri.png" class="logo">
            
            <p>
                <span class="location">Kenya</span>
                
                    <a href="http://www.muhuri.org" class="org">Muslims for Human Rights (MUHURI)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/sodnet.png" class="logo">
            
            <p>
                <span class="location">Kenya</span>
                
                    <a href="http://www.sodnet.org" class="org">Social Development Network (SODNET)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/kdi.png" class="logo">
            
            <p>
                <span class="location">Kosovo</span>
                
                    <a href="http://www.kdi-kosova.org/en/" class="org">Kosovo Democratic Institute (KDI)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/kts.png" class="logo">
            
            <p>
                <span class="location">Kuwait</span>
                
                    <a href="http://www.transparency-kuwait.org/" class="org">Kuwait Transparency Society</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/cdcs.png" class="logo">
            
            <p>
                <span class="location">Kyrgyzstan</span>
                
                    <a href="http://www.dialog.kg/en" class="org">Coalition for Democracy and Civil Society</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/lalt.png" class="logo">
            
            <p>
                <span class="location">Latin America</span>
                
                    <a href="http://www.transparencialegislativa.org" class="org">Latin American Network for Legislative Transparency (LALT Network)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/lebanesemonitor.png" class="logo">
            
            <p>
                <span class="location">Lebanon</span>
                
                    <a href="http://www.lpmonitor.org" class="org">Lebanese Parliamentary Monitor</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/nahwaalmuwatiniya.png" class="logo">
            
            <p>
                <span class="location">Lebanon</span>
                
                    <a href="http://www.na-am.org/a" class="org">Nahwa Al-Muwatiniya</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/devein.png" class="logo">
            
            <p>
                <span class="location">Liberia</span>
                
                    <span class="org">Development and Education Initiatives (DEVEIN)</span>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ldw.png" class="logo">
            
            <p>
                <span class="location">Liberia</span>
                
                    <a href="http://www.liberiademocracywatch.org" class="org">Liberia Democracy Watch</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/naymote.png" class="logo">
            
            <p>
                <span class="location">Liberia</span>
                
                    <a href="http://www.naymote.com" class="org">NAYMOTE Partners for Democratic Development</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/tilithuania.png" class="logo">
            
            <p>
                <span class="location">Lithuania</span>
                
                    <a href="http://www.transparency.lt" class="org">Transparency International Lithuania</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/most.png" class="logo">
            
            <p>
                <span class="location">Macedonia</span>
                
                    <a href="http://www.most.org.mk/index.php/en/home-new" class="org">Citizen&#39;s Association MOST</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ccjp.png" class="logo">
            
            <p>
                <span class="location">Malawi</span>
                
                    <a href="http://www.ccjp-lilongwe.org/" class="org">Catholic Commission for Justice and Peace</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/sinar.png" class="logo">
            
            <p>
                <span class="location">Malaysia</span>
                
                    <a href="http://www.sinarproject.org" class="org">Sinar Project</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/fundar.png" class="logo">
            
            <p>
                <span class="location">Mexico</span>
                
                    <a href="http://www.fundar.org.mx" class="org">FUNDAR Centro de Análisis e Investigación</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ilf.png" class="logo">
            
            <p>
                <span class="location">Mexico</span>
                
                    <a href="http://www.impactolegislativo.org.mx" class="org">Impacto Legislativo Fundación</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/vl.png" class="logo">
            
            <p>
                <span class="location">Mexico</span>
                
                    <a href="http://www.visionlegislativa.com" class="org">Visión Legislativa</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/cdt.png" class="logo">
            
            <p>
                <span class="location">Montenegro</span>
                
                    <a href="http://www.cdtmn.org" class="org">Centar za Demokratsku Tranziciju (CDT)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/openstate.png" class="logo">
            
            <p>
                <span class="location">Netherlands</span>
                
                    <a href="http://www.openstate.eu" class="org">Open State Foundation</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/hdo.png" class="logo">
            
            <p>
                <span class="location">Norway</span>
                
                    <a href="http://www.holderdeord.no" class="org">Holder de ord</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/pildat.png" class="logo">
            
            <p>
                <span class="location">Pakistan</span>
                
                    <a href="http://www.pildat.org" class="org">Pakistan Institute of Legislative Development and Transparency (PILDAT)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/rd.png" class="logo">
            
            <p>
                <span class="location">Peru</span>
                
                    <a href="http://www.reflexiondemocratica.org.pe" class="org">Reflexión Democrática</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/tp.png" class="logo">
            
            <p>
                <span class="location">Peru</span>
                
                    <a href="http://www.transparencia.org.pe/www" class="org">Transparencia Peru</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/epanstwo.png" class="logo">
            
            <p>
                <span class="location">Poland</span>
                
                    <a href="http://www.sejmometr.pl" class="org">Foundation ePaństwo</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/61.png" class="logo">
            
            <p>
                <span class="location">Poland</span>
                
                    <a href="http://www.mamprawowiedziec.pl" class="org">Stowarzyszenie 61 (Association 61)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ipp.png" class="logo">
            
            <p>
                <span class="location">Romania</span>
                
                    <a href="http://www.ipp.ro" class="org">Institute for Public Policy (IPP)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/infoculture.png" class="logo">
            
            <p>
                <span class="location">Russia</span>
                
                    <a href="http://infoculture.ru/en/" class="org">Informational Culture</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/crta.png" class="logo">
            
            <p>
                <span class="location">Serbia</span>
                
                    <a href="http://www.crta.rs/wp/en" class="org">Center for Research Transparency and Accountability</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/otvoreni.png" class="logo">
            
            <p>
                <span class="location">Serbia</span>
                
                    <a href="http://www.otvoreniparlament.rs" class="org">Otvoreni Parliament (Open Parliament)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/kohovolit.png" class="logo">
            
            <p>
                <span class="location">Slovakia</span>
                
                    <a href="http://sk.kohovolit.eu" class="org">KohoVolit.eu (Slovakia)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/tislovakia.png" class="logo">
            
            <p>
                <span class="location">Slovakia</span>
                
                    <a href="http://www.transparency.sk" class="org">Transparency International Slovakia</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/pmg.png" class="logo">
            
            <p>
                <span class="location">South Africa</span>
                
                    <a href="http://www.pmg.org.za" class="org">Parliamentary Monitoring Group</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/civio.png" class="logo">
            
            <p>
                <span class="location">Spain</span>
                
                    <a href="http://www.civio.es/en/quienes-somos" class="org">Fundación Ciudadana Civio</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/qhld.png" class="logo">
            
            <p>
                <span class="location">Spain</span>
                
                    <a href="http://www.quehacenlosdiputados.net" class="org">Qué hacen los diputados</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ccw.png" class="logo">
            
            <p>
                <span class="location">Taiwan</span>
                
                    <a href="http://www.ccw.org.tw/" class="org">Citizen Congress Watch (CCW)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/albawsala.png" class="logo">
            
            <p>
                <span class="location">Tunisia</span>
                
                    <a href="http://www.albawsala.com/" class="org">Al Bawsala</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ali.png" class="logo">
            
            <p>
                <span class="location">Uganda</span>
                
                    <a href="http://www.aflia.org" class="org">Africa Leadership Institute (AFLI)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/chesno.png" class="logo">
            
            <p>
                <span class="location">Ukraine</span>
                
                    <a href="http://www.chesno.org" class="org">CHESNO</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/okf.png" class="logo">
            
            <p>
                <span class="location">United Kingdom</span>
                
                    <a href="http://www.okfn.org" class="org">Open Knowledge Foundation Network (OKFN)</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/mysociety.png" class="logo">
            
            <p>
                <span class="location">United Kingdom</span>
                
                    <a href="http://www.mysociety.org" class="org">mySociety</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/govtrack.png" class="logo">
            
            <p>
                <span class="location">United States</span>
                
                    <a href="http://www.govtrack.us" class="org">GovTrack.us</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ppf.png" class="logo">
            
            <p>
                <span class="location">United States</span>
                
                    <a href="http://www.participatorypolitics.org" class="org">Participatory Politics Foundation</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/sunlight.png" class="logo">
            
            <p>
                <span class="location">United States</span>
                
                    <a href="http://sunlightfoundation.com" class="org">Sunlight Foundation</a>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/ldu.png" class="logo">
            
            <p>
                <span class="location">Uruguay</span>
                
                    <span class="org">DATA</span>
                
            </p>
        </li>
    
        <li class="clearfix">
            
                <img src="/static/images/partners/tv.png" class="logo">
            
            <p>
                <span class="location">Venezuela</span>
                
                    <a href="http://www.transparencia.org.ve" class="org">Transparencia Venezuela</a>
                
            </p>
        </li>
    
</ul>