{% extends "base.html" %}

{% block content %}
    <div class="fullIndent" style="width: 92%;">

        <div class="editable">
            {{ content|safe }}
        </div>

        <h2 class="smallHeader">{% trans %}Declaration on Parliamentary Openness Timeline{% endtrans %}</h2>

    </div>
    <div class="clear"></div>

    <div style="margin-left: 3px;">
    	<iframe src="http://timeliner.okfnlabs.org/view/?url=https%3A%2F%2Fdocs.google.com%2Fa%2Fndi.org%2Fspreadsheet%2Fccc%3Fkey%3D0AiP1nXAlz_medFV3WFprU2t1REpWdzkzaWI1TjRnWVE%23gid%3D0&amp;embed=1" frameborder="0" style="border: none;" width="954" height="650;" scrolling="no"></iframe>
    </div>

{% endblock %}
