<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta property="og:site_name" content="Opening Parliament">
    <meta property="og:title" content="Opening Parliament">
    <meta property="og:description" content="A forum intended to help connect the world's civic organizations engaged in monitoring, supporting and opening up their countries' parliaments and legislative institutions.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.openingparliament.org/">
	<meta property="og:locale" content="en_US">
	<meta property="fb:admins" content="7812952">

    <meta name="google-translate-customization" content="dffc29cfcf2c8162-4bdb8fb20398ddd0-ge4c9a9fa25004f80-19">

    <title>{% block title %}Opening Parliament{% endblock %}</title>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <link rel="alternate" type="application/rss+xml" title="Opening Parliament" href="http://www.openingparliament.org/rss">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css?201311081632">
    <!--
    <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-placehold.min.js"></script>
    <script type="text/javascript" src="js/sf.js"></script>
    -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="container">
        <header role="banner">
            <h1 class="fullIndent">
                <a class="textReplace" href="/">OpeningParliament.org</a>
            </h1>
            <div id="google_translate_element"></div>
            <script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
            <div class="social-accounts" style="float: right; margin-top: 11px; margin-right: 40px;">
                <a href="http://www.twitter.com/OpenParl"><img src="/static/icons/twitter.png"></a>
                <a href="http://www.facebook.com/OpeningParliament"><img src="/static/icons/facebook.png"></a>
                <a href="http://www.openingparliament.org/rss"><img src="/static/icons/rss.png"></a>
            </div>
            <nav>
                <ul>
                	<li><a href="http://blog.openingparliament.org/">Blog</a></li>
                    <li id="about"><a href="/about">{% trans %}About{% endtrans %}</a></li>
                    <li id="declaration"><a href="/declaration">{% trans %}Declaration{% endtrans %}</a></li>
                    <li id="casestudies"><a href="/casestudies">{% trans %}Case Studies{% endtrans %}</a></li>
                    <li id="networking"><a href="/networking">{% trans %}Networking{% endtrans %}</a></li>
                    <li id="organizations"><a href="/organizations">{% trans %}Supporting Organizations{% endtrans %}</a></li>
                    <li id="contact"><a href="/contact">{% trans %}Contact{% endtrans %}</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        <ul>
            <li><a class="textReplace" id="foundationLogo" href="http://www.sunlightfoundation.com">Sunlight Foundation</a></li>
            <li><a class="textReplace" id="ndiLogo" href="http://www.ndi.org/">National Democratic Institute</a></li>
            <li><a class="textReplace" id="latinLogo" href="http://www.transparencialegislativa.org/">Latin American Network for Legislative Transparency</a></li>
            <li class="clear"><a class="textReplace" href="http://www.soros.org/" id="osfLogo">Open Society Foundation</a></li>
            <li><a class="textReplace" href="http://www.omidyar.com/" id="omidyarLogo">Omidyar Network</a></li>
            <li><a class="textReplace" href="http://www.ned.org/" id="nedLogo">National Endowment for Democracy</a></li>
        </ul>
        <div class="clear"></div>
    </footer>

    {% if admin %}

        <link rel="stylesheet" href="/static/wysihtml5/css/editor.css">

        <div id="wysihtml5-toolbar" style="display: none;">
            <a data-wysihtml5-command="bold" class="cmd bold">bold</a>
            <a data-wysihtml5-command="italic" class="cmd italic">italic</a>
            <a data-wysihtml5-command="createLink" class="cmd link">insert link</a>
            <a data-wysihtml5-command="insertImage" class="cmd img">insert image</a>
            <a data-wysihtml5-command="insertUnorderedList" class="cmd list">create list</a>
            <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote" class="cmd blockquote">blockquote</a>

            <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" class="cmd heading">H1</a>
            <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" class="cmd heading">H2</a>
            <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" class="cmd heading">H3</a>
            <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" class="cmd heading">H4</a>

            <a data-wysihtml5-command="save" class="cmd save">save</a>
            <a data-wysihtml5-command="cancel" class="cmd cancel">cancel</a>
            <div data-wysihtml5-dialog="createLink" class="dialog" style="display: none;">
                <label>
                    Link:
                    <input data-wysihtml5-dialog-field="href" value="http://" class="text">
                </label>
                <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
            </div>
            <div data-wysihtml5-dialog="insertImage" class="dialog" style="display: none;">
                <label>
                    Image:
                    <input data-wysihtml5-dialog-field="src" value="http://">
                </label>
                <a data-wysihtml5-dialog-action="save">OK</a>
                <a data-wysihtml5-dialog-action="cancel">Cancel</a>
            </div>
        </div>

        <script src="/static/wysihtml5/js/advanced.js"></script>
        <script src="/static/wysihtml5/js/wysihtml5-0.3.0.min.js"></script>
        <script>

            $(document).ready(function() {

                var $toolbar = $('#wysihtml5-toolbar');
                var editor = null;

                $('.editable').dblclick(function(ev) {

                    var $this = $(this);

                    var $editor = $('<form><textarea id="wysihtml5-textarea" autofocus></textarea></form>');
                    $editor.find('textarea').html($this.html());

                    $this.after($editor);
                    $this.hide();

                    editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
                        toolbar:      "wysihtml5-toolbar",
                        parserRules:  wysihtml5ParserRules,
                        style:        true,
                        stylesheets:  ['/static/css/editor-inline.css']
                    });

                    editor.on('save:dialog', function() {

                    });

                    editor.save = function() {

                        var params = {
                            path: window.location.pathname,
                            content: editor.getValue()
                        }
                        console.log(params);

                        $.post('/save', params, function(data) {
                            $this.html(data).show();
                            $toolbar.hide();
                            $editor.remove();
                        });

                    };

                    editor.cancel = function() {
                        $this.show();
                        $toolbar.hide();
                        $editor.remove();
                    };

                    ev.preventDefault();

                });

                $toolbar.find('a.save').click(function(ev) {
                    if (editor) {
                        editor.save();
                        editor = null;
                    }
                    ev.preventDefault();
                });

                $toolbar.find('a.cancel').click(function(ev) {
                    if (editor) {
                        editor.cancel();
                        editor = null;
                    }
                    ev.preventDefault();
                });

            });

        </script>

    {% endif %}

    {% block js %}{% endblock %}

    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-22821126-21', 'openingparliament.org');
	  ga('create', 'UA-48789618-1', 'openingparliament.org', {'name': 'global'});
	  ga('send', 'pageview');
	  ga('global.send', 'pageview');
	</script>

    <script>
        var _sf_async_config={uid:980,domain:"openingparliament.org"};
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src',
               (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
               "js/chartbeat.js");
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
             loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>

</body>