{% extends "base.html" %}

{% block title %}Contact {{ block.super }}{% endblock %}

{% block content %}

	<div class="span6 fullIndent">

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p class="flash">{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<h3>Contact Us</h3>

        <form action="/contact" method="post">
        	<ul>
        		<li>
        			<label for="id_name" class="required">Name</label>
        			<input type="text" name="name" id="id_name" value="{% if form %}{{ form.name }}{% endif %}">
        		</li>
        		<li>
        			<label for="id_email" class="required">Email</label>
        			<input type="email" name="email" id="id_email" value="{% if form %}{{ form.email }}{% endif %}">
        		</li>
        		<li>
        			<label for="id_organization">Organization</label>
        			<input type="text" name="organization" id="id_organization" value="{% if form %}{{ form.organization }}{% endif %}">
        		</li>
        		<li>
        			<label for="id_message" class="required">Message</label>
        			<textarea name="message" id="id_message">{% if form %}{{ form.message }}{% endif %}</textarea>
        		</li>
        	</ul>

			<p><small>* denotes a required field</small></p>

			<div style="margin-bottom: 20px;">
				<script src="http://www.google.com/recaptcha/api/challenge?k=6LcGVtsSAAAAAIOwtbZqt2ItHSsv6xHZiA1ffbZw"></script>
	  			<noscript>
	     			<iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcGVtsSAAAAAIOwtbZqt2ItHSsv6xHZiA1ffbZw" height="300" width="500" frameborder="0"></iframe><br>
	     			<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
	     			<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
	  			</noscript>
	  		</div>

			<input type="submit" value="Send Message" class="btnish">
        </form>

    </div>
    <div class="span6">
        <div class="editable">
            {{ content|safe }}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}