{% extends "base.html" %}

{% block content %}
    <div id="fullColumn" class="feature fullIndent">
        <ul class="covers clearfix">
            <li>
                <a href="http://openingparliament.s3.amazonaws.com/docs/declaration/1.0/arabic.pdf">
                    <img src="/static/images/covers/arabic.png">
                </a>
            </li>
            <li>
                <a href="http://openingparliament.s3.amazonaws.com/docs/declaration/1.0/english.pdf">
                    <img src="/static/images/covers/english.png">
                </a>
            </li>
            <li>
                <a href="http://openingparliament.s3.amazonaws.com/docs/declaration/1.0/francais.pdf">
                    <img src="/static/images/covers/francais.png">
                </a>
            </li>
            <li>
                <a href="http://openingparliament.s3.amazonaws.com/docs/declaration/1.0/russian.pdf">
                    <img src="/static/images/covers/russian.png">
                </a>
            </li>
            <li>
                <a href="http://openingparliament.s3.amazonaws.com/docs/declaration/1.0/spanish.pdf">
                    <img src="/static/images/covers/spanish.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="span8 fullIndent">
        <div class="feature">
            <p>{% trans %}Welcome to OpeningParliament.org, a forum intended to help connect the world's civic organizations engaged in monitoring, supporting and opening up their countries' parliaments and legislative institutions.{% endtrans %}</p>
        </div>
        <div class="editable">
            {{ content|safe }}
        </div>
    </div>
    <div class="span4">
        <h4 class="smallHeader">{% trans %}Events{% endtrans %}</h4>
        <time datetime="" class="published tip" pubdate>September 13 - 15, 2012</time>
        <span class="title">World e-Parliament Conference 2012</span>
        <span class="location">Rome, Italy</span>
        <a class="viewMore" href="/networking">{% trans %}View More Events and See How You Can Participate{% endtrans %}</a>
    </div>
    <div class="clear"></div>
{% endblock %}