{% extends "base.html" %}

{% block content %}
    <div id="fullColumn" class="feature fullIndent">
        <p>{% trans %}Welcome to OpeningParliament.org, a forum intended to help connect the world's civic organizations engaged in monitoring, supporting and opening up their countries' parliaments and legislative institutions.{% endtrans %}</p>
    </div>
    <div class="span8 fullIndent">
        <div class="editable">
            {{ content|safe }}
        </div>
    </div>
    <div class="span4">
        <h4 class="smallHeader">{% trans %}Events{% endtrans %}</h4>
        <time datetime="" class="published tip" pubdate>April 30 - May 2, 2012</time>
        <span class="title">PMO Leaders Conference: Advocating for Transparent and Democratic Parliaments</span>
        <span class="location">Washington, D.C.</span>
        <a class="viewMore" href="#">{% trans %}View More Events and See How You Can Participate{% endtrans %}</a>
    </div>
    <div class="clear"></div>
{% endblock %}