{% extends "base.html" %}

{% block content %}
    <div class="span6 fullIndent">
        <h2 class="smallHeader">{% trans %}Events{% endtrans %}</h2>
        <ul class="events">
            <li>
                <time datetime="" class="published tip" pubdate>April 30 - May 2, 2012</time>
                <span class="title"><a href="http://www.ndi.org/node/18544">PMO Leaders Conference: Advocating for Transparent and Democratic Parliaments</a></span>
                <span class="location">Washington, D.C.</span>
                <div class="callOutBox">
                    <ul>
                        <li><a href="http://www.ndi.org/pmo-agenda-presentations">{% trans %}Agenda{% endtrans %}</a></li>
                        <li><a href="http://www.ndi.org/PMOs-work-together">{% trans %}Outcome{% endtrans %}</a></li>
                        <li class="last"><a href="https://docs.google.com/a/ndi.org/spreadsheet/ccc?key=0AkxKzANKOyr9dFBOdkFrUE9ieWo3NWxCWmN5LWsxa1E#gid=0">{% trans %}Participants{% endtrans %}</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <time datetime="" class="published tip" pubdate>July 6 - 7, 2012</time>
                <span class="title"><a href="http://www.lafabriquedelaloi.fr/">Open Legislative Data in Paris: A Conference of the Third Kind with Hacktivists and Academics</a></span>
                <span class="location">Paris, France</span>
            </li>
            <li style="margin-top: 3em;">
                <time datetime="" class="published tip" pubdate>September 13 - 15, 2012</time>
                <span class="title">World e-Parliament Conference 2012</span>
                <span class="location">Rome, Italy</span>
            </li>
        </ul>
    </div>
    <div class="span6">

        <h3 class="smallHeader">{% trans %}Get Involved{% endtrans %}</h3>

        <div class="editable">
            {{ content|safe }}
        </div>

    </div>
    <div class="clear"></div>
{% endblock %}
