{% extends "base.html" %}

{% block content %}
    <div class="span6 fullIndent">
        <h2 class="smallHeader">{% trans %}Events{% endtrans %}</h2>
        <ul>
            <li>
                <time datetime="" class="published tip" pubdate>April 30 - May 2, 2012</time>
                <span class="title">PMO Leaders Conference: Advocating for Transparent and Democratic Parliaments</span>
                <span class="location">Washington, D.C.</span>
                <div class="callOutBox">
                    <ul>
                        <li><a href="#">{% trans %}Agenda{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Outcome{% endtrans %}</a></li>
                        <li class="last"><a href="#">{% trans %}Paricipants{% endtrans %}</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <time datetime="" class="published tip" pubdate>April 30 - May 2, 2012</time>
                <span class="title">PMO Leaders Conference: Advocating for Transparent and Democratic Parliaments</span>
                <span class="location">Washington, D.C.</span>
            </li>
        </ul>
    </div>
    <div class="span6">
        <h3 class="smallHeader">{% trans %}Get Involved{% endtrans %}</h3>
        <p>{% trans %}To receive updates about happenings in the parliamentary monitoring community and to participate in discussions on related issues, please join the PMO Network Google Group: pmo-network.googlegroup.com{% endtrans %}</p>

        <p>{% trans %}For more information on regional activities in Latin America, contact the <a href="http://www.transparencialegislativa.org/">Latin American Network for Legislative Transparency</a> at: <a href="mailto:info@transparencialegislativa.org">info@transparencialegislativa.org</a>{% endtrans %}</p>
    </div>
    <div class="clear"></div>
{% endblock %}
