{% extends "base.html" %}

{% block title %}Supporting Organizations - {{ super() }}{% endblock %}

{% block content %}
    <div class="span8 fullIndent">
        <h2 class="smallHeader">{% trans %}Supporting Organizations{% endtrans %}</h2>

        <p style="margin-bottom: 4em;">The following organizations have participated in the development of or indicated support for the Declaration on Parliamentary Openness. If your organization would like be associated with the Declaration, please <a href="/contact">contact us</a>.</p>

        <h2 class="smallHeader">Civil Society Organizations</h2>

        <div class="organizations">
	        {% include "_orgs.html" %}
	    </div>

    </div>
    <div class="clear"></div>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function() {
			$('.country-list select').change(function(ev) {
				ev.preventDefault();
				window.location = '#' + this.value;
			});
		});
	</script>
{% endblock %}
